[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
